body {
  background: #363636;
  color: #f0f0f0;
}

#messenger {
  font-family: monospace;
  font-size: 20px;
  white-space: nowrap;
  text-shadow: 0 2px 2px rgba(#000, 0.9);
  color: #ffa500;
  font-size: 20px;
}

#header{
  background-color: red;
  background-image: url(bg2.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.bg-darker{
  background-color: #222
}

ul {
  display: table;
  white-space: nowrap;
}

li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  position: relative;
}

li > a {
  text-decoration: none;
  color: rgba(255,255,255,1);
  position: relative;
  padding: 16px 7px;
  border-top: 2px solid rgba(255,255,255,0);
  border-bottom: 2px solid rgba(255,255,255,0);
  transition: padding .3s,border-color .3s;
}

li > a:focus, a:hover {
  padding: 5px 7px;
  border-color: rgba(255,165,0,1);
  outline: none;
  color: rgba(255,165,0,1);
}

li > a::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 0;
  color: rgba(255,255,255,0);
  border-left: 2px solid rgba(255,255,255,0);
  content: attr(data-text);
  transition: max-height .3s,border-color 0s;
}

li > a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5px;
  max-height: 0;
  color: rgba(255,255,255,0);
  border-right: 2px solid rgba(255,255,255,0);
  content: attr(data-text);
  transition: max-height .3s,border-color 0s;
}

li > a:focus::before, a:hover::before, a:focus::after, a:hover::after {
  max-height: 100%;
  transition-delay: .10s;
  border-color: rgba(255,165,0,1);
}